@font-face {
    font-family: "SVN-Avo";
    src: url("../fonts/SVN-Avo.ttf");
}

@font-face {
    font-family: "Broadcast_Matter";
    src: url("../fonts/Broadcast_Matter.ttf");
}

@font-face {
    font-family: "SVN-Hemi";
    src: url("../fonts/SVN-Hemi Head.ttf");
}

* {
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: "SVN-Avo";
}

::-webkit-scrollbar {
    display: none;
}

.font-broadcast {
    font-family: 'Broadcast_Matter';
}

.font-hemi {
    font-family: 'SVN-Hemi';
}

img {
    vertical-align: middle;
    border-style: none;
    height: 100%;
}

.transform-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@keyframes zoomBtn {

    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.13);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes maskPosition {
    0% {
        background-position: -50% 0;
    }

    50% {
        background-position: 140% 0;
    }

    100% {
        background-position: -50% 0;
    }
}

.btn-zoom {
    animation: zoomBtn 1.6s ease-in-out infinite;
}

.btn-main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.8vw;
    cursor: pointer;
    width: fit-content;
}

.btn-main img.active {
    display: none;
}

.btn-main:hover img.default {
    display: none;
}

.btn-main:hover img.active {
    display: block;
}

.btn-main.active img.default {
    display: none;
}

.btn-main.active img.active {
    display: block;
}

.btn-main p {
    position: absolute;
    font-weight: bold;
    font-size: 0.8vw;
    transition-duration: 500ms;
    color: #fff;
}

.btn-sub p {
    color: #000;
    text-transform: uppercase;
    text-align: center;
}

.btn-text {
    height: 7.4vw;
    margin-top: -2vw;
    cursor: pointer;
}

.btn-text p {
    color: #000;
    text-align: center;
}

@media (max-width: 768px) {

    .btn-main {
        height: 8.2vw;
    }

    .btn-main p {
        font-size: 2vw;
    }

    .btn-sub p {
        font-size: 2.4vw;
    }

    .btn-text {
        height: 21.4vw;
        margin-top: -5vw;
    }
}

/* HEADER */

header .desk p:hover {
    text-decoration: underline;
    cursor: pointer;
}

ul#ul-menu_mobile {
    opacity: 0;
    transition: 0.5s ease-in-out;
    transform: translateX(26vw);
}

ul#ul-menu_mobile.active {
    transform: translateX(0);
    opacity: 1;
    transition: 0.5s ease-in-out;
}

#btn-menu_mobile.active {
    position: relative;
    top: 0vw;
    width: 8vw;
    height: 8vw;
}

#btn-menu_mobile .item_menu {
    background-color: white;
    width: 8vw;
    height: 1.2vw;
    margin: 1vw 0vw;
    border-radius: 15px;
}

#btn-menu_mobile.active .top {
    position: absolute;
    top: 26%;
    transform: rotate(45deg);
    transition: 0.5s ease-in-out;
}

#btn-menu_mobile.active .center {
    display: none;
}

#btn-menu_mobile.active .bottom {
    position: absolute;
    top: 26%;
    transform: rotate(134deg);
    transition: 0.5s ease-in-out;
}

/* TAB 2 */

.tick {
    white-space: nowrap;
    font-family: arial, sans-serif;
}

.tick-flip-panel {
    color: rgb(59, 59, 61) !important;
    font-weight: 700;
}

.tick-flip-panel {
    background-color: rgb(255, 250, 254) !important;
}

.tick-flip-panel-back-text,
.tick-flip-panel-front-text {
    right: 0px !important;
    left: 0px !important;
}

a.tick-credits {
    display: none;
}

/* TAB 3 */

.tab3 .swiper-pagination-bullet {
    width: 5.4vw !important;
    height: 5.4vw !important;
    border-radius: 0 !important;
    background: transparent !important;
    opacity: 1 !important;
    filter: grayscale(1) !important;
    margin: 0 0.24vw !important;
}

.tab3 .swiper-pagination-bullet-active {
    filter: grayscale(0) !important;
}

.tab3 .swiper-pagination-bullet:nth-child(-n + 5) {
    position: relative;
    left: 2.6vw;
    top: 1.2vw;
}

@media (max-width: 768px) {
    .tab3 .swiper-pagination-bullet {
        width: 16.2vw !important;
        height: 16.2vw !important;
        margin: 0 0.8vw !important;
    }

    .tab3 .swiper-pagination-bullet:nth-child(-n + 5) {
        left: 8.6vw;
        top: 3.6vw;
    }
}

/* TAB 4 */

.tab4 .swiper-slide {
    width: 100% !important;
}

.tab4 .swiper-slide .slide-content img {
    width: 100%;
}

.tab4 .swiper-button-next::after,
.tab4 .swiper-button-prev::after {
    content: "";
}

.swiper-notification {
    display: none
}

/* FOOTER */

footer.footer .content .main-content a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

footer.footer .content .main-content p {
    color: #fff;
    text-decoration: none;
    margin-bottom: 8px;
    font-weight: 500;
}

@media (max-width: 756px) {

    footer.footer .content .main-content a,
    footer.footer .content .main-content p {
        font-size: 2.5vw;
    }
}

/* SIDEBAR */

#sidebar-container.active {
    transform: translateX(78%);
}

#sidebar-container #btn-nap-tien:hover .item img,
#sidebar-container #btn-nap-tien:hover .item p {
    transform: translateY(-8%);
}

#sidebar-container .content .logo-main::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: linear-gradient(45deg,
            transparent 40%,
            rgba(255, 255, 255, 0.5) 50%,
            transparent 60%,
            transparent 100%);

    background-size: 200% 100%;
    background-position: -50% 0;
    animation: maskPosition 2.5s linear infinite;
    border-radius: 2vw;
}

/* POPUP */

#backdrop {
    background-color: rgb(0 0 0 / 38%);
    backdrop-filter: blur(3px);
}

#popup {
    transition: 0.3s ease-in-out;
}

#popup.active {
    opacity: 1 !important;
    transition: 0.3s ease-in-out;
    z-index: 11 !important;
}

#popup .item-popup.active {
    display: block !important;
}

#popup table {
    width: 100%;
    border: 1px solid #fff;
    border-collapse: collapse;
}

#popup td,
#popup th {
    text-align: center;
    padding: 6px;
    font-size: 16px;
    color: white;
    border: 1px solid #fff;
    border-collapse: collapse;
}

@media (max-width: 756px) {

    #popup td,
    #popup th {
        padding: 0.5vw;
        font-size: 1.4vw;
    }
}