@font-face {
    font-family: "SVN-Avo";
    src: url("../fonts/SVN-Avo.ttf");
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@keyframes jelly {

    0%,
    100% {
        transform: scale(1, 1);
    }

    25% {
        transform: scale(0.9, 1.1);
    }

    50% {
        transform: scale(1.1, 0.9);
    }

    75% {
        transform: scale(0.95, 1.05);
    }
}

@keyframes lightSweep {
    0% {
        -webkit-mask-position: 150% 0;
        mask-position: 150% 0;
    }

    100% {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }
}

@keyframes lightBlink {
    0% {
        filter: brightness(1);
    }

    50% {
        filter: brightness(1.2);
    }

    100% {
        filter: brightness(1);
    }
}

@keyframes zoomBtn {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.11);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes dotPulseRed {
    0% {
        box-shadow: 0 0 0 0 #fb2424;
    }

    70% {
        box-shadow: 0 0 0 20px rgba(255, 158, 66, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(255, 158, 66, 0);
    }
}

@keyframes letterBounce {

    0%,
    16%,
    100% {
        transform: translateY(0);
    }

    8% {
        transform: translateY(-15px);
    }
}

@keyframes slideDownFadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.btn-zoom {
    animation: zoomBtn .6s ease-in-out infinite;
}

.lightSweep {
    position: absolute;
    animation: lightSweep 3s linear 1s infinite;
    inset: 0;
    filter: brightness(2);
    margin: auto;
    -webkit-mask-image: -webkit-linear-gradient(-45deg, #fff0 40%, #fff 50%, #fff0 60%);
    mask-image: -webkit-linear-gradient(-45deg, #fff0 40%, #fff 50%, #fff0 60%);
    -webkit-mask-size: 300% 200%;
    mask-size: 300% 200%;
    z-index: 1;
    overflow: hidden;
}

* {
    box-sizing: border-box;
    font-family: "SVN-Avo";
}

body,
ul,
li,
p {
    margin: 0;
}

li {
    list-style: none;
}

::-webkit-scrollbar {
    display: none;
}

img {
    vertical-align: middle;
    border-style: none;
    height: 100%;
}

img.desk,
img.default {
    display: block;
    width: 100%;
}

img.mobi,
img.active {
    display: none;
    width: 100%;
}

@media (max-width: 767px) {
    img.desk {
        display: none;
    }

    img.mobi {
        display: block;
    }
}

.btn-brightness {
    cursor: pointer;
}

.btn-brightness img {
    width: 100%;
    transition: .3s;
}

.btn-brightness:hover img {
    filter: brightness(125%);
}

.btn {
    cursor: pointer;
    width: 100%;
}

.btn img {
    width: 100%;
}

.btn:hover img.default,
.btn.active img.default {
    display: none;
}

.btn:hover img.active,
.btn.active img.active {
    display: block;
}

.transform-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.hidden {
    display: none !important;
}

.w-full {
    width: 100%;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-start {
    justify-content: flex-start;
}

.invisible {
    visibility: hidden;
    font-size: 1vw;
}

.gz-text-main {
    color: #416A6D;
}

.gz-AndroidOS {
    width: 76% !important;
}

.gz-brightness-125 {
    filter: brightness(125%);
}

/* LOADING */

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3771e0;
    z-index: 999;
}

#loading.hide {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

#loading {
    opacity: 1;
    transition: opacity 0.5s ease;
}

#loading .spinner {
    animation: spin 1s linear infinite;
    position: relative;
    border: 8px solid rgba(0, 0, 0, 0.1);
    border-top-color: #fff;
    border-radius: 50%;
    width: 180px;
    height: 180px;
}

#loading .logo {
    width: 6%;
}

/* LOADER */

.load-api {
    display: none;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    align-content: center;
    justify-content: center;
    z-index: 1000000;
    background-color: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(4px);
}

.load-api .element {
    border-radius: 100%;
    border: 5px solid #FFF;
    margin: 10px;
}

.load-api .element:nth-child(1) {
    animation: preloader 0.6s ease-in-out alternate infinite;
}

.load-api .element:nth-child(2) {
    animation: preloader 0.6s ease-in-out alternate 0.2s infinite;
}

.load-api .element:nth-child(3) {
    animation: preloader 0.6s ease-in-out alternate 0.4s infinite;
}

@keyframes preloader {
    100% {
        transform: scale(2);
    }
}

header .main-header {
    position: absolute;
    top: unset;
    width: 100%;
    z-index: 6;
}

header .desk {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44%;
    margin: auto;
    gap: 4vw;
    margin-top: 1vw;
}

header .desk img {
    width: 100%;
    transition: .3s ease-out;
    cursor: pointer;
}

header .desk a:hover img {
    transform: scale(1.10);
}

header .mobi {
    display: none;
    align-items: center;
    justify-content: space-between;
    gap: 1.5vw;
    padding-inline: 2vw;
    padding-block: 0.6vw;
    background-color: #281115;
}

@media (max-width: 767px) {
    header .main-header {
        position: fixed;
    }

    header .desk {
        display: none;
    }

    header .mobi {
        display: flex;
    }

    #loading .logo {
        width: 28%;
    }
}

header .mobi .logo {
    display: flex;
    align-items: center;
    gap: 2vw;
    line-height: 4vw;
}

header .mobi .logo img {
    height: 13.4vw !important
}

header .mobi .logo p {
    color: #EADCB5;
    font-size: 2.6vw;
    white-space: nowrap;
    font-weight: 600;
}

header .mobi .main-content {
    display: flex;
    align-items: center;
    gap: 3vw;
    justify-content: flex-end;
}

header .mobi .main-content .link_dowload {
    display: flex;
    align-items: center;
    gap: 3vw;
    width: 46%;
}

header #menu_mobile {
    opacity: 0;
    transition: 0.5s ease-in-out;
    transform: translateX(26vw);
    background-color: #000;
    padding-block: 1.6vw;
    padding-inline: 3vw;
    position: fixed;
    right: 0.5vw;
    margin-top: 0.5vw;
    z-index: 4;
    border-radius: 2vw;
    color: #fff;
    display: none;
}

header #menu_mobile.active {
    transform: translateX(0);
    opacity: 1;
    transition: 0.5s ease-in-out;
}

header #menu_mobile a img {
    width: 100%;
}

header #menu_mobile a {
    font-weight: 700;
    text-decoration: none;
    font-size: 3.6vw;
    color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 100%;
    white-space: nowrap;
    gap: 1.4vw;
    border-bottom: 1px solid #fff;
    padding-block: 1.8vw;
}

header #menu_mobile a:last-child {
    border-bottom: none !important;
}

header #menu_mobile a span {
    width: 14%;
    margin-left: 1vw;
}

@media (max-width: 767px) {
    header #menu_mobile {
        display: block;
    }
}

#btn-menu_mobile {
    cursor: pointer;
    z-index: 1;
}

#btn-menu_mobile.active {
    position: relative;
    top: 0vw;
    width: 8vw;
    height: 8vw;
}

#btn-menu_mobile .item_menu {
    background-color: white;
    width: 8vw;
    height: 1.2vw;
    margin: 1vw 0vw;
    border-radius: 15px;
}

#btn-menu_mobile.active .top {
    position: absolute;
    top: 26%;
    transform: rotate(45deg);
    transition: 0.5s ease-in-out;
}

#btn-menu_mobile.active .center {
    display: none;
}

#btn-menu_mobile.active .bottom {
    position: absolute;
    top: 26%;
    transform: rotate(134deg);
    transition: 0.5s ease-in-out;
}

/* TAB 1 */

.tab1,
.tab2,
.tab3,
.tab4,
.tab5,
footer {
    position: relative;
    overflow: hidden;
}

.tab1 {
    display: flex;
    justify-content: center;
}

.tab1 .background {
    width: 100%;
}

.tab1 .logo-text {
    position: absolute;
    top: 6%;
    left: 24%;
    width: 15%;
}

.tab1 .warning {
    position: fixed;
    top: 24%;
    left: 0;
    width: 10.6%;
    z-index: 4;
}

.tab1 .text-slogan {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 38%;
}

.tab1 .text-new-sv {
    position: absolute;
    top: 43.2%;
    left: 30.6%;
    width: 3%;
}

.tab1 .text-beta {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 57.4%;
    left: 50%;
    width: 33.6%;
}

.tab1 .list-btn {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    bottom: 26%;
    width: 38%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.tab1 .frame-baodanh {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    bottom: 8.4%;
    width: 58.4%;
    display: flex;
    align-items: center;
}

.tab1 .frame-baodanh .btn-baodanh {
    position: absolute;
    left: 1.8%;
    width: 21%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tab1 .frame-baodanh .btn-baodanh p.text-turn {
    position: absolute;
    color: #E7BD66;
    font-size: 1.24vw;
    top: 9%;
}

.tab1 .frame-baodanh .btn-baodanh p#count_turn {
    position: absolute;
    color: #E7BD66;
    font-size: 1.8vw;
    bottom: 20%;
}

@media (max-width: 767px) {
    .tab1 .logo-text {
        position: absolute;
        top: 7%;
        left: 0%;
        width: 34%;
    }

    .tab1 .warning {
        top: 20%;
        width: 13%;
    }

    .tab1 .text-slogan {
        top: 49%;
        width: 95%;
    }

    .tab1 .text-new-sv {
        top: 44.2%;
        left: 1.6%;
        width: 8%;
    }

    .tab1 .text-beta {
        top: 54.4%;
        width: 90.6%;
    }

    .tab1 .list-btn {
        bottom: 32%;
        width: 98%;
        gap: 2vw;
    }

    .tab1 .frame-baodanh {
        bottom: -17.2%;
        width: 66.4%;
    }

    .tab1 .frame-baodanh .btn-baodanh {
        transform: translate(-50%, -50%);
        left: 50%;
        top: 16%;
        width: 57%;
    }

    .tab1 .frame-baodanh .btn-baodanh p.text-turn {
        font-size: 3.8vw;
        top: 10%;
    }

    .tab1 .frame-baodanh .btn-baodanh p#count_turn {
        font-size: 6.6vw;
        bottom: 20%;
        font-weight: 600;
    }
}

/* LANDING */
.landing {
    background-image: url(../images/bg-desk.webp);
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    padding-block: 1vw 4vw;
}

.landing .landing-container {
    width: 60%;
    margin-inline: auto;
    background-color: #f8f9fa;
    padding-inline: 6vw;
    padding-block: 2vw;
    border-radius: 0.5vw;
}

.landing .landing-header {
    text-align: center;
    margin-bottom: 1.5vw;
}

.landing .landing-header p {
    font-size: 1.6vw;
    color: #8b8c5a;
    font-weight: 700;
    margin-bottom: 0.5vw;
}

.landing .landing-subtitle {
    font-size: 0.9vw;
    color: #343a40;
}

.landing .download-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #dee2e6;
    margin-bottom: 2vw;
}

.landing .download-table th,
.landing .download-table td {
    padding: 0.6vw 0.4vw;
    text-align: left;
    border: 1px solid #dee2e6;
    text-align: center;
    font-size: 0.8vw;
}

.landing .download-table thead th {
    background-color: #fff3cd;
    color: #343a40;
    font-weight: 700;

}

.landing .download-table tbody tr:nth-child(odd) {
    background-color: #f8f5e6;
}

.landing .download-table tbody tr:nth-child(even) {
    background-color: #ffffff;
}

.landing .download-table.infor-table td:first-child {
    font-weight: 600;
}

.landing .download-link {
    color: #dc3545 !important;
    /* font-weight: 600; */
    background: linear-gradient(180deg, #ff3d00, #ff8f00, #e53935);
    /* box-shadow: 0 8px 25px rgba(255, 80, 0, .45), 0 0 15px rgba(255, 180, 0, .4); */
    padding: 0.2vw 0.6vw;
    border-radius: 1vw;
    color: #fff !important;
}

.landing .infor-right {
    color: #000;
    text-decoration: none;
    transition: opacity 0.2s ease;
}

/* .landing .download-link:hover {
    opacity: 0.8;
    text-decoration: underline;
} */

table.table1 .table1-tr th:first-child {
    width: 52%
}

table.table1 .table1-tr th:last-child {
    width: 48%
}

.landing .download-link.infor-right {
    cursor: pointer;
}

.landing .infor-right img {
    height: 1.1vw;
    margin-right: 0.1vw;
    margin-bottom: 0.2vw;
    animation: .8s ease-in-out infinite upDown;
}

.landing-header p,
.landing table th,
.landing table td {
    font-family: math !important;
}

.landing .table1 thead th {
    text-transform: uppercase
}

@media (max-width: 767px) {
    .landing {
        background-image: url(../images/bg-mobi.webp);
        padding-block: 8vw 8vw;
        margin-top: -0.1vw;
    }

    .landing .landing-container {
        padding: 4vw;
        border-radius: 1vw;
        width: 94%;
    }

    .landing .landing-header {
        margin-bottom: 4vw;
    }

    .landing .landing-header p {
        font-size: 4vw;
        margin-bottom: 1vw;
    }

    .landing .download-table {
        margin-bottom: 6vw;
    }

    .landing .landing-subtitle {
        font-size: 2.5vw;
        line-height: 1.4;
    }

    .landing .download-table th,
    .landing .download-table td {
        padding: 1.5vw 2vw;
        font-size: 2.8vw;
    }

    .landing .infor-right img {
        height: 3.6vw;
        margin-right: 0.6vw;
        margin-bottom: 0.6vw;
        animation: 0.8s ease-in-out infinite downUp;
    }

    .landing .download-link {
        padding: 0.6vw 1.6vw;
        border-radius: 3vw;
    }
}

/* FOOTER */

footer .content {
    background-color: #000;
    gap: 2vw;
    padding-block: 1.4vw;
}

footer .content .logo {
    align-items: center;
    justify-content: center;
    gap: 8vw;
    width: 100%;
    text-align: right;
}

footer .content .logo img.logo-gzone {
    width: 20% !important;
}

footer .content .logo img.footer-warning {
    display: none;
}

footer .content .logo a {
    width: 30% !important;
    display: none;
}

footer .content .main-content {
    font-size: 0.8vw;
    text-align: center;
    width: 100%;
}

footer .content .main-content a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    outline: none;
}

footer .content .main-content p {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    line-height: 1.2vw;
}

footer .content .warning {
    display: flex;
    align-items: center;
    width: 100%;
}

footer .content .warning img.img-warning {
    width: 8%;
}

footer .content .warning a {
    width: 18%;
}

@media (max-width: 767px) {

    footer .content {
        display: block;
        padding-inline: 2vw;
        padding-top: 6vw;
        padding-bottom: 6vw;
    }

    footer .content .logo {
        display: flex;
        margin-bottom: 4vw !important;
        margin-left: 4vw;
    }

    footer .content .logo img.footer-warning {
        display: block;
        width: 10%;
    }

    footer .content .logo a {
        display: block;
    }

    footer .content .main-content {
        width: 100%
    }

    footer .content .main-content a,
    footer .content .main-content p {
        font-size: 3vw;
        line-height: 4.6vw;
    }

    footer .content .warning {
        display: none;
    }
}

/* SIDEBAR */

#sidebar-container {
    position: fixed;
    width: 12%;
    top: 18%;
    right: 0;
    z-index: 5;
    transition-duration: .7s;
}

#sidebar-container.active {
    transform: translateX(84%);
}

#sidebar-container .bg {
    position: relative;
    z-index: 2;
}

#sidebar-container .content #btn-hide {
    position: absolute;
    width: 24%;
    top: 9%;
    left: -6%;
    cursor: pointer;
    z-index: 10;
}

#sidebar-container .content #btn-hide img.active-sidebar {
    scale: -1 1;
}

#sidebar-container .content .main-content {
    position: absolute;
    width: 100%;
    top: 12%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sidebar-container .content .main-content .list-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 64%;
    position: relative;
    z-index: 2;
    gap: 0.4vw;
}

#sidebar-container .content .main-content .list-btn .btn-main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

@media (max-width: 767px) {

    #sidebar-container {
        display: none;
    }
}

/* POPUP */

#backdrop {
    background-color: rgb(0 0 0 / 72%);
    backdrop-filter: blur(3px);
    position: fixed;
    inset: 0;
    z-index: 13;
}

#popup {
    transition: 0.3s ease-in-out;
    position: fixed;
    inset: 0;
    opacity: 0;
    z-index: -9;
    width: 100%;
}

#popup.active {
    opacity: 1 !important;
    z-index: 15 !important;
}

#popup .main-popup {
    position: relative;
    z-index: 13;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#popup .item-popup {
    position: relative;
    opacity: 0;
    display: flex;
    justify-content: center;
    transform: scale(0);
    transition: 0.45s ease-in-out;
    position: absolute;
    width: 36%;
}

#popup .item-popup.active {
    opacity: 1;
    justify-content: center;
    transition: 0.5s ease-in-out;
    transform: scale(1.05);
}

#popup .bg-popup {
    width: 100%;
}

#popup .bg-popup img {
    width: 100%;
}

#popup .btn-close {
    position: absolute;
    top: 1.8%;
    right: -1%;
    z-index: 2;
    cursor: pointer;
    width: 9%;
}

#popup .btn-close img {
    transition: .2s ease-out;
    width: 100%;
}

#popup .btn-close:hover img {
    transform: scale(1.1);
}

#popup .main-content {
    position: absolute;
    top: 2%;
    bottom: 3%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

#popup .main-content .title img {
    width: 100%;
}

#popup .main-content .title p,
#popup-dang-ky p.title {
    font-size: 1.1vw;
    text-transform: capitalize;
    font-weight: 700;
    color: rgba(234, 220, 181, 1);
    text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000, 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

#popup .main-content .content-popup {
    color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#popup .main-content .content-popup #popup_mess-noti {
    color: #fff;
    font-size: 1.2vw;
    text-align: center;
}

#popup .main-content .content-popup p.text {
    color: #fff;
    font-size: 1.2vw;
}

#popup .main-content .content-popup #popup_img-gift {
    width: 52%;
}

@media (max-width: 767px) {

    #popup .main-popup {
        position: relative;
        z-index: 13;
        width: 88%;
    }

    #popup .main-content {
        top: 1%;
    }

    #popup .btn-close {
        top: 0%;
        right: -2%;
        width: 11%;
    }

    #popup .main-content .content-popup p#popup_mess-noti,
    .invisible {
        font-size: 2.6vw;
    }

    #popup .item-popup {
        width: 100%;
    }

    #popup .main-content .title p,
    #popup-dang-ky p.title {
        font-size: 3.4vw;
    }
}

/* POPUP ĐĂNG KÝ */
#popup-dang-ky.item-popup {
    width: 72%;
}

#popup-dang-ky .btn-close {
    top: -2%;
    right: -0.4%;
    width: 4%;
}

#popup-dang-ky .main-content {
    width: 80%;
    margin-inline: auto;
    flex-direction: unset;
}

#popup-dang-ky .left-content {
    position: relative;
    width: 37%;
    z-index: 1;
}

#popup-dang-ky .left-content p.title {
    position: absolute;
    left: 50%;
    top: 11.6%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    font-size: 0.8vw;
}

#popup-dang-ky .left-content .form-dk {
    position: absolute;
    left: 50%;
    top: 53%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-inline: auto;
    row-gap: 1.2vw;
}

#popup-dang-ky .left-content select:focus,
#popup-dang-ky .left-content .item-input input:focus {
    outline: none;
}

#popup-dang-ky .left-content .item-input {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

#popup-dang-ky .left-content .item-input p {
    white-space: nowrap;
    color: rgba(234, 220, 181, 1);
    font-size: 0.7vw;
    font-weight: bold;
}

#popup-dang-ky .left-content .item-input input {
    background: rgba(64, 51, 42, 1);
    border: 1px solid rgba(234, 220, 181, 1);
    border-radius: 0.4vw;
    height: 1.6vw;
    font-size: 0.7vw;
    color: #fff;
    outline: none;
    padding: 0.2vw 0.8vw;
    width: 66%;
}

#popup-dang-ky .left-content .item-input input::placeholder {
    color: rgb(255 255 255 / 0.7);
}

#popup-dang-ky .left-content .item-input select {
    background: rgba(64, 51, 42, 1);
    border: 1px solid rgba(234, 220, 181, 1);
    border-radius: 0.4vw;
    height: 1.6vw;
    font-size: 0.72vw;
    color: #fff;
    outline: none;
    padding: 0.2vw 0.8vw;
    width: 66%;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

#popup-dang-ky .left-content .item-input select option {
    background: rgba(64, 51, 42, 1);
    color: #fff;
    font-size: 0.72vw;
}

#popup-dang-ky .left-content .form-dk button {
    width: 46%;
    border: none;
    outline: none;
    transition: .3s;
    cursor: pointer;
    margin-top: 4%;
    background-color: transparent;
}

#popup-dang-ky .left-content .form-dk button:hover {
    transform: scale(1.1);
}

#popup-dang-ky .left-content .form-dk p.text-footer {
    position: absolute;
    bottom: -17%;
    left: -6%;
    font-size: 0.7vw;
    color: #eadcb5;
}

#popup-dang-ky .left-content .form-dk #action_login {
    cursor: pointer;
    font-weight: 700;
    color: #edd592;
}

#popup-dang-ky .img-nv {
    position: absolute;
    top: 5%;
    left: -26%;
    width: 30%;
}

#popup-dang-ky .right-content {
    width: 63%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6vw;
}

#popup-dang-ky .right-content .list-btn {
    display: flex;
    align-items: center;
    width: 90%;
    gap: 1vw;
}

#popup-dang-ky .right-content .list-btn a {
    width: 100%;
    cursor: pointer;
}

#popup-dang-ky .right-content .list-btn a img {
    transition: .3s;
    width: 100%;
}

#popup-dang-ky .right-content .list-btn a:hover img {
    transform: scale(1.1);
}

#popup-dang-ky .right-content .list-btn a:hover img {
    transform: scale(1.1);
}

#popup-dang-ky .right-content p.text-gift {
    font-size: 1.2vw;
    color: #EADCB5;
    text-align: center;
    font-weight: 700;
}

#popup-dang-ky .right-content .item-gift {
    width: 80%;
    margin-inline: auto;
}

#popup-dang-ky .right-content a.down-game {
    cursor: pointer;
    width: 44%;
    position: relative;
    margin-inline: auto;
}

#popup-dang-ky .right-content a.down-game p {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #EADCB5;
    text-transform: uppercase;
    font-size: 1vw;
    font-weight: 700;
    white-space: nowrap;
}

@media (max-width: 767px) {
    #popup-dang-ky.item-popup {
        width: 100%;
    }

    #popup-dang-ky .btn-close {
        top: 0%;
        right: -2%;
        width: 11%;
    }

    #popup-dang-ky .main-content {
        top: 2%;
    }

    #popup-dang-ky .left-content {
        position: unset;
        width: unset;
        z-index: 1;
    }

    #popup-dang-ky .left-content .bg {
        display: none;
    }

    #popup-dang-ky .left-content p.title {
        top: 3%;
        margin-top: unset;
        font-size: 3.4vw;
    }

    #popup-dang-ky .left-content .form-dk {
        top: 50%;
        width: 100%;
        row-gap: 1.8vw;
    }

    #popup-dang-ky .left-content .item-input p {
        font-size: 2.8vw;
    }

    #popup-dang-ky .left-content .item-input input,
    #popup-dang-ky .left-content .item-input select {
        border-radius: 1vw;
        height: 6.8vw;
        font-size: 2.8vw;
        padding: 0.6vw 1.8vw;
    }

    #popup-dang-ky .left-content .form-dk button {
        width: 45%;
        margin-top: 3%;

    }

    #popup-dang-ky .left-content .form-dk p.text-footer {
        bottom: -16%;
        left: -2%;
        font-size: 2.6vw;
    }

    #popup-dang-ky .img-nv {
        display: none;
    }

    #popup-dang-ky .right-content {
        display: none;
    }
}

/* LỊCH SỬ */

#popup-lich-su .main-content {
    height: 100%;
    margin-inline: auto;
}

#popup-lich-su .content-popup {
    margin-top: 1.6vw;
    height: 100%;
}

#popup-lich-su .title-lichsu {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    width: 86%;
}

#popup-lich-su .content-lichsu {
    overflow-y: scroll;
    height: 75%;
    width: 86%;
}

#popup-lich-su table {
    width: 100%;
    text-align: center !important;
    border-collapse: collapse;
}

#popup-lich-su table th,
#popup-lich-su table td {
    color: #fff;
    background-color: transparent;
    font-size: 0.8vw;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

#popup-lich-su table th {
    border-top: 1px solid #fff;
    padding: 0.4vw 0;
}

#popup-lich-su table td {
    padding: 0.4vw 1.7vw !important;
}

#popup-lich-su .title-lichsu .title-history {
    border: 1px solid #fff;
    border-bottom: none;
    width: 100%;
}

#popup-lich-su .title-lichsu .title-history button {
    padding: 0.4vw 0;
    color: #fff;
    border: none;
    background-color: #b30024;
    width: 100%;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    outline: none;
    display: block;
    font-size: 0.8vw;
    cursor: pointer;
}

@media (max-width: 767px) {
    #popup-lich-su .content-popup {
        margin-top: 4vw;
    }

    #popup-lich-su .title-lichsu {
        width: 84%;
    }

    #popup-lich-su .title-lichsu .title-history button {
        font-size: 2.2vw;
        padding: 0.8vw 0;
    }

    #popup-lich-su .content-popup .content-lichsu {
        width: 84%;
        height: 72%;
    }

    #popup-lich-su table th {
        font-size: 2.2vw;
        padding: 1vw 0;
    }

    #popup-lich-su table td {
        font-size: 2.2vw;
        padding: 0.8vw 2.6vw !important;
    }
}

/* THỂ LỆ */
#popup-the-le .main-content {
    bottom: 6%;
}

#popup-the-le .main-content .content-popup {
    overflow-y: scroll;
    width: 80%;
    margin-top: 1vw;
}

@media (max-width: 767px) {
    #popup-the-le .main-content {
        bottom: 6%;
    }

    #popup-the-le .main-content .content-popup {
        margin-top: 2vw;
    }
}