@font-face {
    font-family: "Philosopher";
    src: url("../fonts/Philosopher.ttf");
}

@font-face {
    font-family: "Exo2";
    src: url("../fonts/Exo2.ttf");
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@keyframes lightSweep {
    0% {
        -webkit-mask-position: 150% 0;
        mask-position: 150% 0;
    }

    100% {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }
}

@keyframes lightBlink {
    0% {
        filter: brightness(1);
    }

    50% {
        filter: brightness(1.4);
    }

    100% {
        filter: brightness(1);
    }
}

@keyframes zoomBtn {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.11);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes dotPulse {
    0% {
        box-shadow: 0 0 0 0 #fb2424;
    }

    70% {
        box-shadow: 0 0 0 20px rgba(255, 158, 66, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(255, 158, 66, 0);
    }
}

@keyframes upDown {

    0%,
    100% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(-5%);
    }
}

.btn-zoom {
    animation: zoomBtn .6s ease-in-out infinite;
}

.lightSweep {
    position: absolute;
    animation: lightSweep 3s linear 1s infinite;
    inset: 0;
    filter: brightness(2);
    margin: auto;
    -webkit-mask-image: -webkit-linear-gradient(-45deg, #fff0 40%, #fff 50%, #fff0 60%);
    mask-image: -webkit-linear-gradient(-45deg, #fff0 40%, #fff 50%, #fff0 60%);
    -webkit-mask-size: 300% 200%;
    mask-size: 300% 200%;
    z-index: 1;
    overflow: hidden;
}

* {
    box-sizing: border-box;
    font-family: "Philosopher";
}

.gz-font-exo2 {
    font-family: "Exo2"
}

body,
ul,
li,
p {
    margin: 0;
}

li {
    list-style: none;
}

::-webkit-scrollbar {
    display: none;
}

.gz-justify-between {
    justify-content: space-between;
}

img {
    vertical-align: middle;
    border-style: none;
    height: 100%;
}

img.desk,
img.default {
    display: block;
    width: 100%;
}

img.mobi,
img.active {
    display: none;
    width: 100%;
}

@media (max-width: 767px) {
    img.desk {
        display: none;
    }

    img.mobi {
        display: block;
    }
}

.btn {
    cursor: pointer;
}

.btn:hover img.default,
.btn.active img.default {
    display: none;
}

.btn:hover img.active,
.btn.active img.active {
    display: block;
}

.transform-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.justify-between {
    justify-content: space-between;
}

.justify-start {
    justify-content: flex-start;
}

.invisible {
    visibility: hidden;
    font-size: 1vw;
}

.gz-text-main {
    color: #416A6D;
}

.gz-text-white {
    color: #fff;
}

.gz-w-full {
    width: 100%;
}

.gz-pointer {
    cursor: pointer;
}

.gz-AndroidOS {
    width: 76% !important;
}

.gz-brightness-125 {
    filter: brightness(125%);
}

.gz-direction-none {
    flex-direction: unset !important;
}

/* LOADING */

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #d21e21;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

#loading.hide {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

#loading {
    opacity: 1;
    transition: opacity 0.5s ease;
}

#loading .spinner {
    animation: spin 1s linear infinite;
    position: relative;
    border: 8px solid rgba(0, 0, 0, 0.1);
    border-top-color: #fff;
    border-radius: 50%;
    width: 180px;
    height: 180px;
}

#loading img.logo {
    height: 30px !important;
    position: absolute !important;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* LOADER */

.load-api {
    display: none;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    align-content: center;
    justify-content: center;
    z-index: 1000000;
    background-color: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(4px);
}

.load-api .element {
    border-radius: 100%;
    border: 5px solid #FFF;
    margin: 10px;
}

.load-api .element:nth-child(1) {
    animation: preloader 0.6s ease-in-out alternate infinite;
}

.load-api .element:nth-child(2) {
    animation: preloader 0.6s ease-in-out alternate 0.2s infinite;
}

.load-api .element:nth-child(3) {
    animation: preloader 0.6s ease-in-out alternate 0.4s infinite;
}

@keyframes preloader {
    100% {
        transform: scale(2);
    }
}

header .main-header {
    position: absolute;
    top: unset;
    width: 100%;
    z-index: 3;
}

header .desk {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44%;
    margin: auto;
    gap: 4vw;
    margin-top: 1vw;
}

header .desk img {
    width: 100%;
    transition: .3s ease-out;
    cursor: pointer;
}

header .desk a:hover img {
    transform: scale(1.10);
}

header .mobi {
    display: none;
    align-items: center;
    justify-content: space-between;
    gap: 1.5vw;
    padding-inline: 2vw;
    padding-block: 0.6vw;
    background-color: #000;
}

@media (max-width: 767px) {
    header .main-header {
        position: fixed;
    }

    header .desk {
        display: none;
    }

    header .mobi {
        display: flex;
    }
}

header .mobi .logo {
    display: flex;
    align-items: center;
    gap: 2vw;
    line-height: 4vw;
}

header .mobi .logo img {
    height: 13.4vw !important
}

header .mobi .logo p {
    color: #FFC971;
    font-size: 2.6vw;
    white-space: nowrap;
    font-weight: 600;
}

header .mobi .main-content {
    display: flex;
    align-items: center;
    gap: 3vw;
    justify-content: flex-end;
}

header .mobi .main-content .link_dowload {
    display: flex;
    align-items: center;
    gap: 3vw;
    width: 46%;
}

ul#ul-menu_mobile {
    opacity: 0;
    transition: 0.5s ease-in-out;
    transform: translateX(26vw);
    background-color: #000;
    padding-block: 2vw;
    padding-inline: 3vw;
    position: fixed;
    right: 0.5vw;
    margin-top: 0.5vw;
    z-index: 4;
    border-radius: 2vw;
    color: #fff;
    display: none;
}


@media (max-width: 767px) {
    ul#ul-menu_mobile {
        display: block;
    }
}

ul#ul-menu_mobile.active {
    transform: translateX(0);
    opacity: 1;
    transition: 0.5s ease-in-out;
}

ul#ul-menu_mobile hr {
    margin: 4px 0;
}

ul#ul-menu_mobile li a {
    font-weight: 700;
    text-decoration: none;
    font-size: 14px;
    color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
}

ul#ul-menu_mobile li a svg {
    margin: 0px 5px;
    width: 15px;
}

#btn-menu_mobile {
    cursor: pointer;
    z-index: 1;
}

#btn-menu_mobile.active {
    position: relative;
    top: 0vw;
    width: 8vw;
    height: 8vw;
}

#btn-menu_mobile .item_menu {
    background-color: white;
    width: 8vw;
    height: 1.2vw;
    margin: 1vw 0vw;
    border-radius: 15px;
}

#btn-menu_mobile.active .top {
    position: absolute;
    top: 26%;
    transform: rotate(45deg);
    transition: 0.5s ease-in-out;
}

#btn-menu_mobile.active .center {
    display: none;
}

#btn-menu_mobile.active .bottom {
    position: absolute;
    top: 26%;
    transform: rotate(134deg);
    transition: 0.5s ease-in-out;
}

/* TAB 1 */

.tab1,
.tab2,
.tab3,
.tab4,
.tab5 {
    position: relative;
    overflow: hidden;
}

.tab1,
.tab2,
.tab3,
.tab4,
.tab5 {
    margin-bottom: -0.4vw;
}

.tab1 .logo-text {
    position: absolute;
    top: 1%;
    left: 1.3%;
    width: 9.8%;
}

.tab1 .warning {
    position: fixed;
    top: 22%;
    left: 0;
    width: 11%;
    z-index: 3;
}

.tab1 .btn-beginner {
    position: absolute;
    bottom: 16%;
    left: 0%;
    width: 12%;
    cursor: pointer;
    transition-duration: .3s;
}

.tab1 .btn-beginner:hover {
    filter: brightness(1.25);
}

.tab1 .text-award {
    position: absolute;
    left: 12.6%;
    width: 36%;
    top: 3%;
}

.tab1 .btn-play {
    position: absolute;
    left: 55.8%;
    top: 45.8%;
    transform: translate(-50%, -50%);
    width: 7.8%;
    cursor: pointer;
}

.tab1 .item-gift {
    position: absolute;
    left: 45%;
    top: 46%;
    transform: translate(-50%, -50%);
    width: 9.4%;
    cursor: pointer;
}

.tab1 .btn-dkn {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 22%;
    bottom: 33.6%;
    cursor: pointer;
    transition-duration: .3s;
}

.tab1 .btn-dkn:hover {
    filter: brightness(1.25);
}

.tab1 .text-slogan {
    position: absolute;
    left: 50%;
    top: 24.8%;
    transform: translate(-50%, -50%);
    width: 41%;
}

.tab1 .frame-down img {
    width: 100%;
}

.tab1 .frame-down {
    position: absolute;
    left: 50%;
    bottom: 23.4%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8vw;
    width: 22%;
}

.tab1 .frame-down .list-download {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 0.8vw;
}

.tab1 .frame-down .list-download a,
.tab1 .frame-down .btn-naptien {
    cursor: pointer;
    transition-duration: .3s;
}

.tab1 .frame-down .list-download a:hover,
.tab1 .frame-down .btn-naptien:hover {
    filter: brightness(1.25);
    transform: scale(1.05);
}

.tab1 .frame-down .list-download {
    width: 100%;
}

.tab1 .frame-down .img-qrcode,
.tab1 .frame-down .btn-naptien {
    width: 17.8%;
}

.tab1 .list-btn-redirect {
    position: fixed;
    top: 6%;
    right: 2%;
    z-index: 3;
}

.tab1 .list-btn-redirect .layout-redirect {
    color: #fff;
    border-radius: 2vw;
    padding-inline: 0.2vw;
    display: flex;
    align-items: center;
    margin-left: auto;
    justify-content: end;
    background-color: #000;
    border-radius: 2vw;
    overflow: hidden;
}

.tab1 .list-btn-redirect .layout-redirect a img {
    width: 100%;
    transition: .3s ease-out;
}

.tab1 .list-btn-redirect .layout-redirect a {
    padding: 0.6vw 0.6vw;
    cursor: pointer;
    transition: .3s ease-out;
    opacity: 1;
    max-width: 5vw;
    overflow: hidden;
    transition: max-width 0.25s ease, opacity 0.25s ease, padding 0.25s ease;
}

.tab1 .list-btn-redirect .layout-redirect a:hover img {
    opacity: .6;
}

.tab1 #btn-toggle-redirect img.hide {
    transform: scaleX(-1);
}

.tab1 .list-btn-redirect .layout-redirect a.item.item.hide-item {
    max-width: 0;
    opacity: 0;
    padding-inline: 0;
}

.tab1 .list-gift-register img {
    width: 100%;
}

.tab1 .list-gift-register {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 58%;
    bottom: 2.4%;
}

.tab1 .list-gift-register .tab1-gift-item {
    filter: grayscale(1);
    margin-left: -0.1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}

.tab1 .list-gift-register .tab1-gift-item.active {
    filter: grayscale(0);
    z-index: 1;
}

.tab1 .list-gift-register .tab1-gift-item.active p {
    color: #FFAE00;
}

.tab1 .list-gift-register .tab1-gift-item p {
    position: absolute;
    color: #fff;
    bottom: -60%;
    font-size: 1.3vw;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.tab1 .list-gift-register .tab1-gift-item:first-child {
    filter: grayscale(0) !important;
    margin-left: 0 !important;
    cursor: default !important;
    /* width: 24%; */
}

.tab1 .list-gift-register .tab1-gift-item:last-child {
    margin-left: -0.6vw;
}

.tab1 .list-gift-register .tab1-gift-item:first-child p {
    transform: unset !important;
    left: 2% !important;
    bottom: -76% !important;
}

.tab1 .list-gift-register .tab1-gift-item:last-child p {
    transform: unset !important;
    left: 32% !important;
    bottom: 4% !important;
}

.tab1 #count-register {
    color: #FFAE00;
    font-size: 1.6vw;
}

@media (max-width: 767px) {
    .tab1 .list-btn-redirect {
        display: none;
    }

    .tab1 .logo-text {
        display: none;
    }

    .tab1 .warning {
        top: 20%;
        width: 13%;
    }

    .tab1 .btn-beginner {
        bottom: 15%;
        width: 29%;
        left: -4%;
    }

    .tab1 .text-award {
        display: none;
    }

    .tab1 .btn-play {
        width: 20%;
        left: 66.8%;
        top: 41%;
    }

    .tab1 .btn-dkn {
        width: 50%;
        bottom: 30%;
    }

    .tab1 .item-gift {
        left: 35%;
        top: 41%;
        width: 26%;
    }

    .tab1 .text-slogan {
        width: 78%;
        top: 17.6%;
    }

    .tab1 .frame-down {
        bottom: 22%;
        gap: 2vw;
        width: 50%;
    }

    .tab1 .frame-down .list-download {
        gap: 2vw;
    }

    .tab1 .list-gift-register {
        width: 98%;
        bottom: 10.4%;
    }

    .tab1 .list-gift-register .tab1-gift-item p {
        bottom: -70%;
        font-size: 2.3vw;
    }

    .tab1 .list-gift-register .tab1-gift-item:last-child p {
        bottom: 0% !important;
    }

    .tab1 #count-register {
        font-size: 2.8vw;
    }
}

/* TAB 2 */
.tab2 .title {
    position: absolute;
    left: 50%;
    top: 5.8%;
    transform: translate(-50%, -50%);
    width: 14.6%;
}

.tab2 .main-content {
    position: absolute;
    display: flex;
    align-items: center;
    height: 100%;
    margin-inline: auto;
    width: 82%;
    left: 50%;
    top: 66.6%;
    transform: translate(-50%, -50%);
}

.tab2 .right-content,
.tab2 .left-content {
    width: 100%;
    height: 100%;
}

.tab2 .left-content p.text-title,
.tab2 .right-content p.text-title {
    color: #fff;
    font-size: 1.4vw;
}

.tab2 .left-content p.text-title #count-play {
    color: #FFAE00;
}

.tab2 .left-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

.tab2 .left-content .frame-add-img {
    position: relative;
    width: 100%;
}

.tab2 .left-content .frame-add-img .bg {
    width: 56%;
    margin: auto;
}

.tab2 .left-content .frame-add-img p {
    position: absolute;
    left: 50%;
    top: 31%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 0.9vw;
}

.tab2 .left-content .frame-add-img label.action-add-img {
    position: absolute;
    left: 50%;
    top: 59%;
    transform: translate(-50%, -50%);
    width: 19%;
    cursor: pointer;
}

.tab2 .left-content .frame-add-img label.action-add-img.has-img {
    width: 6%;
    top: unset;
    bottom: 10%;
}

.tab2 .left-content .frame-add-img label.action-add-img input {
    position: absolute;
    inset: 0;
    display: none;
}

.tab2 #previewContainer {
    position: absolute;
    left: 50%;
    top: 54%;
    transform: translate(-50%, -50%);
    width: 20%;
    display: flex;
    justify-content: center;
}

.tab2 #previewContainer img {
    height: 6vw;
}

.tab2 .left-content .btn-play-now {
    cursor: pointer;
    width: 42%;
    margin-inline: auto;
    transition-duration: .3s;
    position: relative;
}

.tab2 .left-content .btn-play-now:hover {
    animation: dotPulse 0.75s infinite;
    /* filter: brightness(125%); */
}

.tab2 #btn-action-tab2 {
    width: 60%;
    margin-inline: auto;
    display: flex;
    align-items: center;
    gap: 0.6vw;
    margin-block: 2.2vw;
}

.tab2 #btn-action-tab2 .btn img {
    width: 100%;
}

.tab2 .list-infor {
    display: flex;
    align-items: center;
    width: 46%;
    gap: 0.6vw;
}

.tab2 .right-content {
    position: relative;
    left: -10%;
    width: 50%;
    top: 13%;
}

.tab2 .right-content .frame-infor {
    /* position: relative;
    top: 13%; */
}

.tab2 .right-content .frame-infor .bg {
    width: 84%;
}

.tab2 .right-content .frame-infor .title-wife {
    position: absolute;
    top: 0%;
    width: 40%;
    z-index: 1;
    left: 2%;
}

.tab2 .right-content .frame-infor .content-wife {
    position: absolute;
    top: 30%;
    width: 40%;
    z-index: 1;
    left: 6%;
}

.tab2 .right-content .frame-infor .content-wife p {
    color: #fff;
    font-size: 1vw;
    margin-bottom: 0.2vw;
}

.tab2 .right-content .frame-infor .content-wife p span.wife-age {
    margin-right: 0.6vw;
}

.tab2 .right-content .img-wife {
    position: absolute;
    top: -103%;
    width: 140%;
    left: 9.6%;
}

.tab2 .line-bottom {
    position: absolute;
    bottom: -1.6%;
    width: 122%;
    transform: translate(-50%, -50%);
    left: 50%;
    z-index: 1;
}

.tab2 .swiper-slide {
    opacity: 0 !important;
    width: 100%;
}

.tab2 .swiper-slide .img-wife img {
    animation: 4s ease-in-out infinite upDown;
}

.tab2 .swiper-slide-active {
    opacity: 1 !important;
}

.tab2 .swiper-button-next::after,
.tab2 .swiper-button-prev::after {
    content: "";
}

.tab2 .swiper-button-next-tab2,
.tab2 .swiper-button-prev-tab2 {
    position: absolute;
    width: 8%;
    cursor: pointer;
    z-index: 3;
    top: 43% !important;
}

.tab2 .swiper-button-next-tab2 img,
.tab2 .swiper-button-prev-tab2 img {
    width: 100%;
}

.tab2 .swiper-button-prev-tab2 {
    left: -1%;
}

.tab2 .swiper-button-next-tab2 {
    right: 2%;
    rotate: 180deg;
}

.tab2 .swiper-pagination-tab2 {
    display: flex;
    justify-content: center;
    width: 84% !important;
    margin: auto;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 47% !important;
    left: 48.4% !important;
    z-index: 2;
    gap: 1vw;
    bottom: unset !important
}

.tab2 .swiper-pagination-bullet {
    height: fit-content !important;
    border-radius: 0 !important;
    background: transparent !important;
    opacity: 1 !important;
    position: relative;
    width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 !important;
    border-radius: 50% !important;
    transition: .3s;
}

.tab2 .swiper-pagination-bullet-active {
    transform: scale(1.2);
}

.tab2 .swiper-pagination-bullet .bg img:last-child {
    position: absolute;
    overflow: hidden;
    inset: 0;
    filter: brightness(2);
    margin: auto;
    -webkit-mask-image: -webkit-linear-gradient(-45deg, #fff0 40%, #fff 50%, #fff0 60%);
    mask-image: -webkit-linear-gradient(-45deg, #fff0 40%, #fff 50%, #fff0 60%);
    -webkit-mask-size: 300% 200%;
    mask-size: 300% 200%;
    z-index: 1;
}

.tab2 .swiper-pagination-bullet:hover .bg img:last-child {
    animation: lightSweep 1s linear 0s infinite;
}

.tab2 .right-content .text-choose-wife {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 57% !important;
    left: 48.4% !important;
    color: #fff;
    font-size: 1.4vw;
    z-index: 2;
}

@media (max-width: 767px) {
    .tab2 .title {
        top: 3.7%;
        width: 44.4%;
    }

    .tab2 .main-content {
        flex-direction: column;
        width: 100%;
        top: 60.4%;
    }

    .tab2 .left-content p.text-title,
    .tab2 .right-content p.text-title {
        font-size: 4.1vw;
    }

    .tab2 .left-content .frame-add-img .bg {
        width: 70%;
    }

    .tab2 .left-content .frame-add-img p {
        top: 32%;
        font-size: 2.7vw;
    }

    .tab2 .left-content .frame-add-img label.action-add-img {
        top: 58%;
        width: 23%;
    }

    .tab2 .left-content .frame-add-img label.action-add-img.has-img {
        width: 8%;
    }

    .tab2 #previewContainer img {
        height: 20vw;
    }

    .tab2 .left-content .btn-play-now {
        width: 50%;
    }

    .tab2 #btn-action-tab2 {
        width: 90%;
        gap: 1.6vw;
        margin-block: 5.2vw;
    }

    .tab2 .list-infor {
        width: 58%;
        gap: 1.6vw;
    }

    .tab2 .right-content {
        left: 0;
        width: 100%;
        top: -2.6%;
    }

    .tab2 .right-content .frame-infor .bg {
        width: 100%;
        left: -14%;
        position: relative;
    }

    .tab2 .right-content .img-wife {
        top: -105%;
        width: 170%;
        left: -5.4%;
    }

    .tab2 .swiper-pagination-tab2 {
        top: 53% !important;
        left: 50% !important;
    }

    .tab2 .swiper-button-next-tab2,
    .tab2 .swiper-button-prev-tab2 {
        top: 49.6% !important;
    }

    .tab2 .swiper-button-prev-tab2 {
        left: 0%;
    }

    .tab2 .swiper-button-next-tab2 {
        right: 0%;
    }

    .tab2 .right-content .text-choose-wife {
        top: 66% !important;
        left: 50% !important;
        font-size: 4.1vw;
    }

    .tab2 .line-bottom {
        bottom: 6.6%;
        width: 100%;
    }

    .tab2 .right-content .frame-infor .title-wife {
        width: 58%;
    }

    .tab2 .right-content .frame-infor .content-wife {
        width: 40%;
    }

    .tab2 .right-content .frame-infor .content-wife p {
        font-size: 3.4vw;
        margin-bottom: 0.8vw;
    }

    .tab2 .right-content .frame-infor .content-wife p span.wife-age {
        margin-right: 1.6vw;
    }
}

/* TAB 3 */
.tab3 .title {
    position: absolute;
    left: 50%;
    top: 5.8%;
    transform: translate(-50%, -50%);
    width: 15.6%;
}

.tab3 #count_huyet-an {
    position: absolute;
    left: 50%;
    top: 12.7%;
    transform: translate(-50%, -50%);
    font-size: 1.2vw;
    color: #fff;
}

.tab3 #count_huyet-an span {
    color: #FFAE00;
    font-size: 1.6vw;
}

.tab3 .bg-gift img {
    animation: lightBlink 1.5s ease-in-out infinite;
    width: 100%;
}

.tab3 .bg-gift {
    position: absolute;
    width: 9.4%;
}

.tab3 .bg-gift-1 {
    top: 18%;
    left: 27.2%;
}

.tab3 .bg-gift-2 {
    top: 15.4%;
    right: 35.6%;
}

.tab3 .bg-gift-3 {
    top: 28%;
    right: 18%;
}

.tab3 .bg-gift-4 {
    top: 39.4%;
    right: 33.8%;
    width: 11.2%;
}

.tab3 .bg-gift-5 {
    top: 39.2%;
    left: 36.2%;
}

.tab3 .bg-gift-6 {
    bottom: 33.4%;
    left: 18.6%;
}

.tab3 .bg-gift-7 {
    bottom: 18.2%;
    right: 39.6%;
    width: 11.2%;
}

.tab3 .btn-ls-nhan {
    position: absolute;
    left: 50%;
    bottom: 6.8%;
    transform: translate(-50%, -50%);
    width: 10%;
}

@media (max-width: 767px) {
    .tab3 .title {
        position: absolute;
        left: 50%;
        top: 4.4%;
        transform: translate(-50%, -50%);
        width: 47%;
    }

    .tab3 #count_huyet-an {
        top: 10.4%;
        font-size: 3.8vw;
    }

    .tab3 #count_huyet-an span {
        font-size: 5.8vw;
    }

    .tab3 .btn-ls-nhan {
        bottom: 3.4%;
        width: 29%;
    }

    .tab3 .bg-gift {
        transform: none;
        width: 28.4%;
    }

    .tab3 .bg-gift-1 {
        top: 17.6%;
        left: 2.8%;
    }

    .tab3 .bg-gift-2 {
        top: 14%;
        right: 21.8%;
    }

    .tab3 .bg-gift-3 {
        top: 28%;
        right: 0.2%;
    }

    .tab3 .bg-gift-4 {
        top: 42%;
        right: 25.4%;
        width: 33.2%;
    }

    .tab3 .bg-gift-5 {
        top: 54.6%;
        left: 3.8%;
    }

    .tab3 .bg-gift-6 {
        bottom: 18%;
        left: 16.2%;
    }

    .tab3 .bg-gift-7 {
        bottom: 14%;
        right: 6.2%;
        width: 33.2%;
    }
}

/* TAB 4 */
.tab4 .title {
    position: absolute;
    left: 50%;
    top: 6.8%;
    transform: translate(-50%, -50%);
    width: 20%;
    z-index: 1;
}

.tab4 .nv-1 {
    position: absolute;
    left: 0.6%;
    top: 8.8%;
    width: 46%;
}

.tab4 .nv-2 {
    position: absolute;
    right: 2%;
    top: 12%;
    width: 38%;
}

.tab4 .frame-hau-due {
    position: absolute;
    left: 50%;
    top: 47%;
    transform: translate(-50%, -50%);
    width: 52%;
    overflow: hidden;
}

.tab4 .swiperTab4 {
    touch-action: pan-y;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 93%;
}

.tab4 .swiper-slide {
    width: 100%;
}

.tab4 .swiper-button-next::after,
.tab4 .swiper-button-prev::after {
    content: "";
}

.tab4 .swiper-button-next-tab4,
.tab4 .swiper-button-prev-tab4 {
    position: absolute;
    width: 8%;
    cursor: pointer;
    z-index: 3;
    top: 43% !important;
}

.tab4 .swiper-button-next-tab4 img,
.tab4 .swiper-button-prev-tab4 img {
    width: 100%;
}

.tab4 .swiper-button-prev-tab4 {
    left: -1%;
}

.tab4 .swiper-button-next-tab4 {
    right: 2%;
    rotate: 180deg;
}

@media (max-width: 767px) {
    .tab4 .title {
        top: 7.8%;
        width: 60%;
    }

    .tab4 .nv-1 {
        left: -41.6%;
        top: -3.2%;
        width: 136%;
    }

    .tab4 .nv-2 {
        position: absolute;
        right: -31.4%;
        top: 2.4%;
        width: 110%;
    }

    .tab4 .frame-hau-due {
        top: 48%;
        width: 100%;
    }

    .tab4 .swiperTab4 {
        width: 93%;
    }
}

/* FOOTER */

footer {
    position: relative;
    overflow-x: hidden;
}

footer .content {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    padding-top: 1.4vw;
    padding-bottom: 1.4vw;
}

footer .content .logo {
    align-items: center;
    justify-content: center;
    gap: 8vw;
    width: 100%;
    text-align: right;
}

footer .content .logo img.logo-gzone {
    width: 20% !important;
}

footer .content .logo img.footer-warning {
    display: none;
}

footer .content .logo a {
    width: 30% !important;
    display: none;
}

footer .content .main-content {
    font-size: 0.8vw;
    text-align: center;
    width: 100%;
}

footer .content .main-content a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    outline: none;
    font-family: "Exo2"
}

footer .content .main-content p {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-family: "Exo2";
    line-height: 1.2vw;
}

footer .content .warning {
    display: flex;
    align-items: center;
    width: 100%;
}

footer .content .warning img.img-warning {
    width: 8%;
}

footer .content .warning a {
    width: 18%;
}

@media (max-width: 767px) {

    footer .content {
        display: block;
        padding-inline: 2vw;
        padding-top: 6vw;
        padding-bottom: 6vw;
    }

    footer .content .logo {
        display: flex;
        margin-bottom: 4vw !important;
        margin-left: 4vw;
    }

    footer .content .logo img.footer-warning {
        display: block;
        width: 10%;
    }

    footer .content .logo a {
        display: block;
    }

    footer .content .main-content {
        width: 100%
    }

    footer .content .main-content a,
    footer .content .main-content p {
        font-size: 3vw;
        line-height: 4.6vw;
    }

    footer .content .warning {
        display: none;
    }
}

/* POPUP */

#backdrop {
    background-color: rgb(0 0 0 / 72%);
    backdrop-filter: blur(3px);
    position: fixed;
    inset: 0;
    z-index: 13;
}

#popup {
    transition: 0.3s ease-in-out;
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    z-index: -9;
    width: 100%;
}

#popup.active {
    opacity: 1 !important;
    z-index: 15 !important;
}

#popup .main-popup {
    position: relative;
    z-index: 13;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#popup .item-popup {
    position: relative;
    opacity: 0;
    display: flex;
    transform: scale(0);
    transition: 0.45s ease-in-out;
    position: absolute;
    width: 50%;
}

#popup .item-popup.active {
    opacity: 1;
    justify-content: center;
    transition: 0.5s ease-in-out;
    transform: scale(1.05);
}

#popup .bg-popup {
    width: 100%;
}

#popup .btn-close {
    position: absolute;
    top: 4.8%;
    right: 2.4%;
    z-index: 2;
    cursor: pointer;
    width: 4%;
}

#popup .btn-close img {
    transition: .2s ease-out;
    width: 100%;
}

#popup .btn-close:hover img {
    transform: scale(1.1);
}

#popup .main-content {
    position: absolute;
    top: 3%;
    bottom: 3%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

#popup .main-content .title {
    width: 32%;
}

#popup .main-content .title img {
    width: 100%;
}

#popup .main-content .content-popup {
    color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#popup .main-content .content-popup p#popup_mess-noti {
    color: #fff;
    font-size: 1.2vw;
}

#popup .main-content .content-popup #popup_img-gift {
    width: 52%;
}

@media (max-width: 767px) {

    #popup .main-popup {
        position: relative;
        z-index: 13;
        width: 88%;
    }

    #popup .main-content {
        top: 0%;
    }

    #popup .btn-close {
        top: 4.8%;
        right: 3.6%;
        width: 5.2%;
    }

    #popup .main-content .title {
        width: 42%;
        margin-top: 1vw;
    }

    #popup .main-content .content-popup p#popup_mess-noti,
    .invisible {
        font-size: 2.6vw;
    }

    #popup .item-popup {
        width: 100%;
    }
}

/* POPUP NHIỆM VỤ */

#popup-nhiem-vu .main-content {
    margin-bottom: 0.8vw;
}

#popup-nhiem-vu .content-popup {
    gap: 1vw;
}

#popup-nhiem-vu .content-popup .item-mission img {
    width: 100%;
    transition: .3s;
}

#popup-nhiem-vu .content-popup .item-mission {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 66%;
}

#popup-nhiem-vu .content-popup .item-mission p {
    width: 64%;
    border: 1px solid #FFAE00;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 0.6vw;
    border-right: 0;
    font-size: 0.9vw;
}

#popup-nhiem-vu .content-popup .item-mission .btn-nhan {
    width: 38%;
    cursor: pointer;
}

#popup-nhiem-vu .content-popup .item-mission .btn-nhan:hover img {
    filter: brightness(120%)
}

#popup-nhiem-vu .footer-popup p {
    text-align: center;
    color: #fff;
    font-size: 0.74vw;
    margin-bottom: 0.3vw;
}

#popup-nhiem-vu .footer-popup p:first-child {
    color: #FFAE00;
    font-size: 0.9vw !important;
    font-weight: bold;
}

@media (max-width: 767px) {

    #popup-nhiem-vu .content-popup {
        gap: 1.4vw;
    }

    #popup-nhiem-vu .content-popup .item-mission {
        width: 74%;
    }

    #popup-nhiem-vu .content-popup .item-mission p {
        font-size: 2.6vw;
    }

    #popup-nhiem-vu .content-popup .item-mission .btn-nhan {
        width: 54%;
    }

    #popup-nhiem-vu .footer-popup p {
        font-size: 2.1vw;
        margin-bottom: 0.2vw;
    }

    #popup-nhiem-vu .footer-popup p:first-child {
        font-size: 2.6vw !important;
    }
}

/* POPUP ĐĂNG KÝ */

#popup-dang-ky .list-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

#popup-dang-ky .list-input input {
    background-color: transparent;
    color: #fff;
    outline: none;
    margin: 0;
    width: 100%;
    text-align: center;
    padding-block: 0.36vw;
    height: 3vw;
    font-size: 1.4vw;
    margin-bottom: 2vw;
    border: 1px solid #FFAE00;
}

#popup-dang-ky .privacy {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#popup-dang-ky .privacy input {
    height: 1vw;
    width: 2%;
    margin-bottom: 0;
    margin-right: 0.4vw;
    cursor: pointer;
}

#popup-dang-ky .privacy label {
    font-size: 0.9vw;
    color: #fff;
    cursor: pointer;
}

#popup-dang-ky .btn-dangky {
    width: 18%;
    margin: auto;
    cursor: pointer;
    margin-block: 1vw 0.6vw;
}

#popup-dang-ky .btn-dangky img,
#popup-dang-ky .btn-down img {
    width: 100%;
    transition: .3s;
}

#popup-dang-ky .btn-dangky:hover img {
    filter: brightness(120%);
}

#popup-dang-ky .list-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    width: 30%;
}

#popup-dang-ky .list-btn .btn-down {
    cursor: pointer;
}

@media (max-width: 767px) {
    #popup-dang-ky .content-popup {
        margin-top: 2vw;
    }

    #popup-dang-ky .list-input input {
        padding-block: 0.36vw;
        height: 5.8vw;
        font-size: 2.6vw;
        margin-bottom: 1.6vw;
    }

    #popup-dang-ky .privacy input {
        height: 3vw;
        width: 3%;
        margin-right: 1.4vw;
    }

    #popup-dang-ky .privacy label {
        font-size: 2.6vw;
    }

    #popup-dang-ky .btn-dangky {
        width: 26%;
        margin-block: 2vw 1.6vw;
    }

    #popup-dang-ky .list-btn {
        gap: 2vw;
        width: 42%;
    }
}

/* LỊCH SỬ */

#popup-lich-su .content-popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 94%;
    height: 100%;
    margin-top: 1vw;
    margin-inline: auto;
}

#popup-lich-su .title-lichsu {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    width: 84%;
}

#popup-lich-su .content-lichsu {
    overflow-y: scroll;
    height: 70%;
    width: 84%;
}

#popup-lich-su table {
    width: 100%;
    text-align: center !important;
    border-collapse: collapse;
}

#popup-lich-su table th,
#popup-lich-su table td {
    color: #fff;
    background-color: transparent;
    font-size: 1vw;
    font-family: 'SVN-Avo' !important;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

#popup-lich-su table th {
    border-top: 1px solid #fff;
    padding: 0.4vw 0;
}

#popup-lich-su table td {
    padding: 0.4vw 1.7vw !important;
}

#popup-lich-su .title-lichsu .title-history {
    border: 1px solid #fff;
    border-bottom: none;
    width: 100%;
}

#popup-lich-su .title-lichsu .title-history button {
    padding: 0.4vw 0;
    color: #fff;
    border: none;
    background-color: #b30024;
    width: 100%;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    outline: none;
    display: block;
    font-size: 1vw;
    cursor: pointer;
    font-family: 'SVN-Avo' !important;
}

@media (max-width: 767px) {
    #popup-lich-su .content-popup {
        margin-top: 2vw;
    }

    #popup-lich-su .title-lichsu {
        width: 86%;
    }

    #popup-lich-su .content-lichsu {
        width: 86%;
    }

    #popup-lich-su .title-lichsu .title-history button {
        font-size: 2.2vw;
        padding: 0.8vw 0;
    }

    #popup-lich-su .content-popup .content-lichsu {
        height: 64%;
    }

    #popup-lich-su table th {
        font-size: 2.2vw;
        padding: 1vw 0;
    }

    #popup-lich-su table td {
        font-size: 2.2vw;
        padding: 0.8vw 2.6vw !important;
    }
}

/* BXH */

#popup-bxh .content-popup {
    align-items: flex-start !important;
    width: 90% !important;
    margin-top: 0.6vw;
}

#popup-bxh .left-content {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

#popup-bxh .right-content {
    width: 30%;
    margin-top: 6%;
}

#popup-bxh table {
    width: 100%;
    border-radius: 0;
    overflow: hidden;
    border-collapse: collapse;
}

#popup-bxh #table-header {
    background: transparent;
    color: #FFAE00;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

#table-header th {
    padding: 0.6vw 0.5vw;
    text-align: center;
    font-size: 1.2vw;
    font-weight: 400;
}

#popup-bxh #table-body {}

#popup-bxh #table-body tr img {
    height: 1.6vw;
}

#popup-bxh #table-body td {
    padding: 0.4vw;
    text-align: center;
    font-size: 1vw;
}

#popup-bxh #table-body tr:nth-child(-n+3) td {
    padding-block: 0.2vw;
}

@media (max-width: 767px) {
    #popup-bxh .left-content {
        height: 66%;
    }

    #table-header th {
        padding: 1vw 0.5vw;
        font-size: 3.2vw;
    }

    #popup-bxh #table-body td {
        padding: 1vw;
        font-size: 3vw;
    }

    #popup-bxh #table-body tr img {
        height: 4vw;
    }

    #popup-bxh #table-body tr:nth-child(-n+3) td {
        padding-block: 0.6vw;
    }
}

/* THỂ LỆ */
#popup-the-le .main-content {
    bottom: 6%;
}

#popup-the-le .main-content .content-popup {
    overflow-y: scroll;
    width: 80%;
    margin-top: 1vw;
}

@media (max-width: 767px) {
    #popup-the-le .main-content {
        bottom: 6%;
    }

    #popup-the-le .main-content .content-popup {
        margin-top: 2vw;
    }
}

/* HỢP NHẤT */
#popup-hop-nhat.item-popup {
    width: 60%;
}

#popup-hop-nhat .frame-img-hop-nhat {
    width: 38%;
    position: relative;
}

#popup-hop-nhat #img-hop-nhat {
    position: absolute;
    width: 90%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#popup-hop-nhat .list-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    gap: 1vw;
    margin-block: 0.6vw;
}

#popup-hop-nhat .btn-share {
    cursor: pointer;
    transition-duration: .3s;
    position: relative;
}

#popup-hop-nhat .btn-share:hover {
    animation: dotPulse 0.75s infinite;
}

@media (max-width: 767px) {
    #popup-hop-nhat.item-popup {
        width: 100%;
    }

    #popup-hop-nhat .frame-img-hop-nhat {
        width: 30%;
    }

    #popup-hop-nhat .list-btn {
        width: 60%;
        gap: 2vw;
        margin-block: 1.6vw;
    }
}